@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root {
    --yellow: #F9CA24;
}

::selection {
    background-color: var(--yellow);
    color: #333;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .5s linear;
}

body {
    background-color: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}

section {
    min-height: 100vh;
    padding: 1rem;
}

/*===================== SCROLL =====================*/

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background-color: #222;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
}

/*===================== HEADER =====================*/

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background-color: #1A1A1A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    text-decoration: none;
}

header .user img {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--yellow);
}

header .user .name {
    font-size: 3.5rem;
    color: #FFF;
}

header .user .post {
    text-align: justify;
    font-size: 2rem;
    color: #EEE;
}

header .navBar {
    width: 100%;
}

header .navBar ul {
    list-style: none;
    padding: 1rem 3rem;
}

header .navBar ul li a {
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background-color: #333;
    color: #FFF;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navBar ul li a:hover{
    background-color: var(--yellow);
}

/*===================== MENU =====================*/
#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background-color: #333;
    color: #FFF;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

/*===================== HOME SECTION =====================*/

.home {
    color: #FFF;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3 {
    font-size: 2.5rem;
}

.home h1 {
    font-size: 5rem;
}

.home h1 span {
    color: var(--yellow);
}

.home p {
    font-size: 2rem;
}

.btn {
    padding: .7rem 3rem;
    background-color: #333;
    color: #FFF;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i {
    padding: 0 .5rem;
    font-size: 2rem;
}

.btn:hover {
    background-color: var(--yellow);
}

/*===================== ABOUT ME SECTION =====================*/

.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.about .row .info {
    flex: 1rem 1rem 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3 {
    font-size: 2rem;
    color: var(--yellow);
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .info h3 span {
    color: #EEE;
    padding: 0 .5rem;
}

.about .row .counter {
    flex: 1rem 1rem 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box {
    width: 20rem;
    background-color: #222;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about .row .counter .box span {
    font-size: 4rem;
    color: var(--yellow);
}

.about .row .counter .box h3 {
    font-size: 2rem;
    color: #FFF;
}

/*===================== EDUCATION SECTION =====================*/

.education .box-container {
    display: block;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
    color: #FFF;
}

.education .box-container .box {
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #FFF;
    position: relative;
}

.education .box-container .box span {
    font-size: 1.3rem;
    background-color: #222;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.education .box-container .box h3 {
    font-size: 2rem;
    padding-top: 1.5rem;
}

.education .box-container .box p {
    font-size: 1.4rem;
    padding: 1rem 0;
}

.education .box-container .box i {
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background-color: var(--yellow);
}

/*===================== PORTAFOLIO SECTION =====================*/

.portafolio .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.portafolio .box-container .box {
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
}

.portafolio .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portafolio .box-container .box:hover img {
    transform: scale(1.2);
}

/*===================== CONTACT SECTION =====================*/

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content {
    flex: 1rem 1rem 30rem;
    padding: 4rem;
    padding-bottom: 0;
}

.contact .row form {
    flex: 1rem 1rem 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.contact .row form .box:hover,
.contact .row form .message:hover {
    background-color: var(--yellow);
}

.contact .row form .box {
    padding: 1.5rem;
    margin: 1rem 0;
    background-color: #333;
    color: #FFF;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}

.contact .row form .box::placeholder {
    text-transform: capitalize;
}

.contact .row form .message {
    height: 15rem;
    resize: none;
}

.contact .row .content .title {
    text-transform: uppercase;
    color: #FFF;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #EEE;
    padding: 1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i {
    padding-right: 1rem;
    color: var(--yellow);
}

.top {
    position: fixed;
    bottom: 8rem;
    right: 2rem;
    z-index: 2;
    display: none;
}

.top img {
    width: 50px;
    height: 50px;
}

/*===================== RESPONSIVE =====================*/

@media (max-width: 1200px) {

    html {
        font-size: 55%;
    }

    .home {
        padding: 1ren 4rem;
    }

}

@media (max-width: 990px) {

    header {
        left: -120%;
    }

    #menu {
        display: block;
    }

    header.toggle {
        left: 0%;
    }

    body {
        padding: 0;
    }

}

@media (max-width: 750px) {

    html {
        font-size: 50%;
    }

}

@media (max-width: 400px) {

    header {
        width: 100vw;
    }

    .heading {
        margin: 0 3rem;
    }

    .about .row .counter .box {
        width: 100%;
    }

    .education .box-container .box {
        width: 100%;
    }

    .portafolio .box-container .box {
        width: 100%;
    }

    .contact .row form {
        margin: 3rem 0;
    }

}